<%- include('partials/header.ejs') %>

<div class="content-container">
    <div class="row">
        <img src="assets/images/bookshelf.png" id="bookshelf-img" alt="image of books on a shelf">
    </div>
    <div class="row">
        <h1>Reader's Logbook</h1>
        <p class="header-text">
            The Reader's Logbook serves as a meticulously crafted repository 
            chronicling my extensive literary voyages. Within these virtual 
            pages lies a comprehensive archive documenting the diverse books 
            that have captured my imagination, each entry adorned with personal 
            annotations and reflections.
        </p>
        <p class="header-text">
            Delve into this curated collection to journey through my encounters 
            with varied narratives, characters, and stories that have profoundly 
            shaped my reading expedition. Explore and relish the rich tapestry of my literary adventures.
        </p>
    </div>
    <div class="navbar">
        <div><a href="/new-entry"><img src="assets/images/button1.png" class="nav-button" alt="navigation button new entry"></a></div>
        <div><img src="assets/images/button2.png" class="nav-button" alt="navigation button about"></div>
    </div>
    <% if (data) { %>
        <% for (let i=0; i<images.length; i++) { %>
    <div class="log-entry-container">
        <div>
            <% if (images) { %>
                <img src="<%= images[i] %>" class="book-preview-img" alt="book cover image">
            <% } else { %>
                <p>No book cover available</p>
            <% } %>
        </div>
        <div>
            <% if (data) { %>
                <h2><%= data[i].title %></h2>
                <p class="entry-text">by <%= data[i].author %></p>
                <h3>Description</h3>
                <p class="entry-text"><%= data[i].description %></p>
                <h3>My review</h3>

                <!-- Star rating: renders the correct amounts of filled and empty stars according to rating (0 - 5) -->
                <div class="star-rating-container">
                    <% const rating = data[i].rating; %>
                    <% for (let i=0; i<rating; i++) { %>
                        <img src="assets/images/star-icon-filled.png" class="star" alt="filled star icon">
                    <% } %>
                    <% if (rating < 5) { %>
                        <% const empties = 5 - data[i].rating; %>
                        <% for (let i=0; i<empties; i++) { %>
                            <img src="assets/images/star-icon-empty.png" class="star" alt="empty star icon">
                        <% } %>
                    <% } %>
                </div>
                

                <p class="entry-text" id="review<%= data[i].id %>"><%= data[i].review %></p>
            <div class="links">
                <form action="/update" method="post">
                    <input type="hidden" name="idToUpdate" value="<%= data[i].id %>">
                    <button type="submit" class="form-button">Update review</button>
                </form>
                <form action="/delete" method="post">
                    <input type="hidden" name="idToDelete" value="<%= data[i].id %>">
                    <button type="submit" class="form-button" onclick="return confirm('Are you sure you want to delete this book?')">Delete book</button>
                </form>
            </div>
            <% } else { %>
                <p>Book data not available.</p>
            <% } %>
        </div>

    </div>
        <% } %>
    <% } %>
</div>

<%- include('partials/footer.ejs') %>