<%- include('partials/header.ejs') %>

<div class="container">
    <div class="row">
        <img src="assets/images/bookshelf.png" id="bookshelf-img" alt="image of books on a shelf">
    </div>
    <div class="row">
        <h1>Reader's Logbook</h1>
        <p>
            The Reader's Logbook serves as a meticulously crafted repository 
            chronicling my extensive literary voyages. Within these virtual 
            pages lies a comprehensive archive documenting the diverse books 
            that have captured my imagination, each entry adorned with personal 
            annotations and reflections.
        </p>
        <p>
            Delve into this curated collection to journey through my encounters 
            with varied narratives, characters, and stories that have profoundly 
            shaped my reading expedition. Explore and relish the rich tapestry of my literary adventures.
        </p>
    </div>
    <div class="navbar">
        <div><img src="assets/images/button1.png" class="nav-button" alt=""></div>
        <div><img src="assets/images/button2.png" class="nav-button" alt=""></div>
    </div>
    <% if (images || data ) { %>
        <% for (i=0; i<images.length; i++) { %>
    <div class="log-entry-container">
        <div>
            <% if (images) { %>
                <img src="<%= images[i] %>" class="book-preview-img" alt="book cover">
            <% } else { %>
                <p>No book cover available</p>
            <% } %>
        </div>
        <div>
            <% if (data) { %>
                <h2><%= data[i].title %></h2>
                <p id="book-description">by <%= data[i].author %></p>
                <h3>Description</h3>
                <p id="book-description"><%= data[i].description %></p>
                <h3>My review</h3>
                <p id="book-description"><%= data[i].review %></p>
            <div class="links">
                <a href="edit_link_here">Edit Entry</a>
                <a href="delete_link_here">Delete Entry</a> 
            </div>
            <% } else { %>
                <p>Book data not available.</p>
            <% } %>
        </div>

    </div>
        <% } %>
    <% } %>
</div>

<%- include('partials/footer.ejs') %>