<%- include('partials/header.ejs') %>
<div class="content-container">
    
    <div>
        <img src="assets/images/bookshelf.png" id="bookshelf-img" alt="image of books on a shelf">
        <h1>Reader's Logbook</h1>
        <p class="header-text">
            The Reader's Logbook serves as a meticulously crafted repository 
            chronicling my extensive literary voyages. Within these virtual 
            pages lies a comprehensive archive documenting the diverse books 
            that have captured my imagination, each entry adorned with personal 
            annotations and reflections.
        </p>
        <p class="header-text">
            Delve into this curated collection to journey through my encounters 
            with varied narratives, characters, and stories that have profoundly 
            shaped my reading expedition. Explore and relish the rich tapestry of my literary adventures.
        </p>
    </div>

    <!-- NAVBAR -->
    <div class="navbar">
        <div>        
            <a href="/new-entry"><img src="assets/images/button1.png" class="nav-button" alt="navigation button new entry"></a>
        </div>
        <div><!-- As of now, this button is mostly 'decorative'. -->
            <a href="/about"><img src="assets/images/button2.png" class="nav-button" alt="navigation button about"></a>
        </div>
    </div>

    <!-- SORT DROPDOWN MENU -->
    <!-- This lets you choose a sorting option. -->
    <!-- When value changes it hits the GET route '/' and passes the sort option as a query parameter. -->
    <!-- Attribute 'selected' is dynamically added to display the correct option on page reload. -->
    <div>
        <form action="/" method="get">
            <label for="sorting-dropdown">Sort Books by:</label>
            <select name="sort" id="sorting-dropdown" onchange="this.form.submit()">
            <option value="title" <% if (sortOption === "title" || sortOption === undefined) { %>selected<% } %>>Title</option>
            <option value="date" <% if (sortOption === "date") { %>selected<% } %>>Date read</option>
            <option value="rating" <% if (sortOption === "rating") { %>selected<% } %>>Rating</option>
            </select>
        </form>
    </div>

    <!-- LOG ENTRY CONTAINER -->
    <% if (data && data.length !== 0) { %> <!-- If data exists and data length is not 0... -->
        <% for (let i=0; i<data.length; i++) { %> <!-- ...iterate through data and render. -->
    <div class="log-entry-container">
        <div class="column1">
            <div>
                <% if (data[i].image_path !== null) { %> <!-- Check for an image path for a book cover and render the image. -->
                    <img src="<%= data[i].image_path %>" class="book-preview-img" alt="book cover image">
                <% } else { %>
                    <p>No book cover available</p>
                <% } %>
            </div>
            <div class="entry-text"> <!-- Format timestamp passed over from server. -->
                Date: <%=data[i].date_read.toLocaleDateString('en-GB', { timeZone: 'UTC' });%> 
            </div>
            <div><!-- This form hits the GET route '/notes/:id' and passes over book ID as a URL parameter. -->
                <form action="/notes/<%= data[i].id %>" method="get">
                    <button class="form-button" type="submit">View Notes</button>
                </form>
            </div>
            <div><!-- This form hits the POST route '/books/:bookId/delete' and passes over book ID as a URL parameter. -->
                <form action="/books/<%= data[i].id %>/delete" method="post">
                    <button type="submit" class="form-button" onclick="return confirm('Are you sure you want to delete this book?')">Delete Book</button>
                </form>
            </div>
        </div>
        <div class="column2">
            <div>
            <% if (data && data.length !== 0) { %> <!-- Render if data exists and data length is not 0. Else display text 'Book data not available.'-->
                <h2><%= data[i].title %></h2>
                <p class="entry-text">by <%= data[i].author %></p>
                <h3>Description</h3>
                <p class="entry-text"><%- data[i].description %></p>
                <h3>My review</h3>
            </div>
    
            <!-- Star rating: renders the correct amounts of filled and empty stars according to rating (0 - 5) -->
            <div class="star-rating-container">
                <% const rating = data[i].rating; %>
                <% for (let i=0; i<rating; i++) { %>
                    <img src="assets/images/star-icon-filled.png" class="star-icon" alt="filled star icon">
                <% } %>
                <% if (rating < 5) { %>
                    <% const empties = 5 - data[i].rating; %>
                    <% for (let i=0; i<empties; i++) { %>
                        <img src="assets/images/star-icon-empty.png" class="star-icon" alt="empty star icon">
                    <% } %>
                <% } %>
            </div>
                    
            <div class="review-wrapper">
                <div class="entry-text" id="review<%= data[i].id %>">
                    <%- data[i].review %>
                </div>
                <div><!-- This form hits the POST route '/update/review/:id' and passes over a book ID and a review to update  -->
                    <form action="/reviews/<%= data[i].id %>/update" method="post">
                        <textarea id="input<%= data[i].id %>" class="review-input" name="reviewToUpdate"
                            autocomplete="off" autofocus="true" hidden="true"><%= data[i].review %></textarea>
                        <button id="done<%= data[i].id %>" class="form-button" type="submit" hidden>Done</button>
                    </form>
                    <!-- This 'Update Review' button passes an id to an event handler (see below) which modifies visibility of elements. -->
                    <button id="update<%= data[i].id %>" class="form-button" type="button" onclick="handler('<%= data[i].id %>')">Update Review</button>
                </div>
            </div>

            <% } else { %>
                <p class="entry-text">Book data not available.</p>
            <% } %>
        </div>
    </div>
        <% } %>
    <% } %>
</div>

<script>
    // This handler function hides or displays elements.
    function handler(id) {
      document.getElementById("review" + id).setAttribute("hidden", true)
      document.getElementById("update" + id).setAttribute("hidden", true)
      document.getElementById("done" + id).removeAttribute("hidden")
      document.getElementById("input" + id).removeAttribute("hidden")
    }
</script>
